@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty-json {
  white-space: pre-wrap;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  font-size: 14px;
  line-height: 1.5em;
}
